<div class="container">
  <h1>Create Your Survey</h1>

  <form action="/surveys" method="post">
    <ul>
      <li><h2>Survey Title: <input type="text" name="title"></h2></li><br>
      <li>Question: <input type="text" name="prompt"></li><br>
      <li>Option Name: <input type="text" name="name"></li><br>
      <li><input type="submit" name="add_option" value="Add Another Option"></li><br>
      <li><input type="submit" name="Submit"></li><br>
    </ul>
  </form>

</div>
