<h1>Survey Slug</h1>
<p>Pretend you care about other people opinions</p>
<button class="login_button" type="button">login/signup</button>
<button class="create_survey_button" type="button">create survey</button>
<button class="view_surveys_button" type="button">view your surveys</button>
