<section class="main">
    <img src="../img/banana-slug.jpg" alt="Banana Slug">
    <% if logged_in? %>
        <a href="/surveys/new"><button class="create_survey_button" type="button">create survey</button></a>
        <a href="/users/<%= current_user.id %>/surveys"><button class="view_surveys_button" type="button">view your surveys</button></a>
    <% else %>
        <a href="/login"><button class="login_button" type="button">login/signup</button></a>
    <% end %>
</section>