<header>
    <h1>Survey Slug</h1>
    <p>Pretend you care about other people opinions</p>
</header>
<section class="main">
    <img src="../img/banana-slug.jpg" alt="Banana Slug">
    <a href="/login"><button class="login_button" type="button">login/signup</button></a>
    <a href="/surveys/new"><button class="create_survey_button" type="button">create survey</button></a>
    <a href="/users/<%= current_user.id %>/surveys"><button class="view_surveys_button" type="button">view your surveys</button></a>
</section>