<div class='container'>
  <form class="login" method="post" action="/login">
    <h2>Login</h2>
    <label for="email">email:</label>
    <input type="text" id="email" name="email" autofocus/>
    <label for="password">password:</label>
    <input type="password" id="password" name="password"/>
    <input type="submit" value="Login">
  </form>
</div>

<div class='container'>
  <form class="signup" method="post" action="/users">
    <h2>Signup</h2>
    <label for="name">name:</label>
    <input type="text" id="name" name="signup[name]"/>
    <label for="email">email:</label>
    <input type="text" id="email" name="signup[email]"/>
    <label for="password">password:</label>
    <input type="password" id="password" name="signup[password]"/>
    <input type="submit" value="Signup">
  </form>
</div>
