<div class="survey_link">link to the page</div>
<h1>Survey name</h1> by <h2>author</h2>
<h2>Question</h2>
<ul class="option_votes">
    <li class="individual_option_vote">option 1</li>
    <li class="individual_option_vote">option 2</li>
    <li class="individual_option_vote">option 3</li>
    <li class="individual_option_vote">option 4</li>
</ul>
