<div class="thank_you">
  <style type="text/css">
    h1 {
      text-align: center;
    }

    ul {
      width: 100%;
      float: right;
    }
    li a {
      float: left;
      font-size: 2em;
      margin: 2%;
      line-height: 8em;
    }
  </style>

  <h1>
    Thank you for completing a survey, <%= current_user.name %>.
  </h1>
  <ul>
    <li><a href="/surveys/new">Create a New Survey</a></li>
    <li><a href="/surveys/<%= current_user.id %>">View Your Surveys</a></li>
    <li><a href="/surveys/new">Go Home</a></li>
    <li><a href="/surveys/new">Logout</a></li>
  </ul>
</div>

