@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "vendor/bitters/bitters";

$tablet: new-breakpoint(max-width 600px 6);

body {
    @include outer-container;
    font-family: Lato, sans-serif;
}

header {
    @include outer-container;
    padding: 20px;
}

.logo {
    @include media($tablet) {
        @include span-columns(6);
    }
    @include span-columns(6);
}
// .main {
//     background-image:url('../img/banana-slug.jpg');
//     background-repeat:no-repeat;
//     background-attachment:fixed;
//     height: 460px;
// }

.main button {
    font-size: 3em;
    @include fill-parent;
}

.main img {
    @include fill-parent;
}

h1 { 
    font-size: 4em;
    font-weight: 900;
}

header p {
    font-size: 1em;
}

.logout {
    float: right;
    font-size: 1em;
}

.logout a {@include media($tablet) {
        background: none;
    }
    display: block;
    background: tint($blue, 80%);
    padding: 8px;
    border-radius: 2px;
}
.logout a:hover {
    background: tint($blue, 40%);
}

form {
    @include media($tablet) {
        @include span-columns(4);
        @include shift(1);
    }
    @include span-columns(6);
    @include shift(3);
    padding: 20px 20px;
    background: tint($blue, 80%);
    border-radius: 6px;
}

.login {
    border-bottom: 2px dashed #FFF;
}

.create_survey_header, .survey_name {
    @include media($tablet) {
        @include span-columns(4);
        @include shift(1);
    }
    @include span-columns(6);
    @include shift(3);
    background: tint($blue, 20%);
    color: #FFF;
    font-size: 3em;
    padding: 12px;
}

.survey_question {
    margin-bottom: 0.6em;
}

#submit_response {
    float: right;
    margin-top: 2em;
}

label {
    color: shade($blue, 20%);
    font-size: 1.4em;
}

.survey_link {
    @include media($tablet) {
        @include span-columns(4);
        @include shift(1);
    }
    @include span-columns(6);
    @include shift(3);
}

.survey_list h1 {
    @include media($tablet) {
        @include span-columns(4);
        @include shift(1);
    }
    @include span-columns(6);
    @include shift(3);
    background: tint($blue, 20%);
    color: #FFF;
    font-size: 3em;
    padding: 12px;
}

.survey_list h2 {
    @include media($tablet) {
        @include span-columns(4);
        @include shift(1);
    }
    @include span-columns(6);
    @include shift(3);
    font-size: 2em;
    color: shade($blue, 20%);
    margin-top: 0.4em;
    padding-bottom: 0.2em;
    border-bottom: dashed shade($blue, 20%) 2px;
}

.survey_list ul {
    @include media($tablet) {
        @include span-columns(4);
        @include shift(1);
    }
    @include span-columns(8);
    @include shift(2);
    margin-top: 0.4em;
    font-size: 1.6em;
}

.survey_list li {
    line-height: 1.8em;
    padding-left: 1em;
}

.survey_list ul li:nth-child(2n+1) {
    background: tint($blue, 80%);
}

.survey_link {
    @include span-columns(10);
    @include shift(1);
    @include row;
    font-size: 2em;
    line-height: 1.6em;
    text-align: center;
    padding: 20px;
}

.survey_header {
    @include span-columns(12);
}

.survey_author {
    @include span-columns(6);
    @include shift(3);
    border-bottom: 2px dashed tint($blue, 80%);
    padding-bottom: 10px;
}

.survey_results {
    @include span-columns(6);
    @include shift(3);
    padding-bottom: 9em;
}

.individual_survey_question h2{
    padding: 20px 0;
}


.individual_option_vote {
    font-size: 1.4em;
}
