@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "vendor/bitters/bitters";

body {
    @include outer-container;
    font-family: Lato, sans-serif;
}

header {
    @include outer-container;
    text-align: center;
}

h1 { 
    font-size: 4em;
}
